.activity-section {
    flex-basis: 35%;

    .heading {
        width: 100%;
        justify-content: space-between;
    }

    .sec-container {
        margin-top: 1rem;

        .single-customer {
            align-items: flex-start;
            justify-content: space-between;

            .customer-details {
                flex: 1;

                .name {
                    font-size: var(--h3-size);
                    font-weight: 600;
                    color: var(--text-color);
                    display: block;
                }

                p {
                    font-weight: 500;
                    color: var(--text-color);
                    font-size: var(--small-size);
                }
            }
        }
    }
}
