:root {
    --PrimaryColor: #933420;
    --HoverColor: #eaf2d7;
    --paleGreen: #abb4c4;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: #2b2d42;
    --bgColor: #faf9f6;
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

    /* Font and Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
}

.headerSection {
    justify-content: space-between;

    .title {
        h1 {
            font-size: var(--biggestFontSize);
            color: var(--textColor);
            font-weight: 700;
        }
    }
}
