#sidebar {
    background-color: var(--farground-color);
    box-shadow: 1px 0 4px var(--shadow-color);
    width: 18%;
    height: 100%;
    gap: 0;
    overflow: auto;

    #logo {
        padding: 1.5rem 1.5rem 0;
        height: 100%;
        cursor: pointer;

        img {
            max-width: 50px;
            margin-right: 0.5rem;
            padding: 0.2rem;
            @media (prefers-color-scheme: dark) {
                & {
                    filter: invert(1);
                }
            }
        }
    }

    #settings {
        margin-bottom: 50%;
    }

    #menu,
    #settings {
        height: 50%;

        .title {
            font-size: var(--h2-size);
            color: var(--text-color);
            padding: 0 1.5rem 1.5rem;
        }

        .menu-list {
            font-size: var(--h3-color);

            .list-item {
                padding: 0.2rem 1.5rem;
                width: 100%;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    height: 0%;
                    left: 0;
                    width: 5px;
                    bottom: 0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background: var(--text-color);
                }

                .menu-link {
                    display: flex;
                    align-items: center;
                    color: var(--text-color);
                    font-weight: 500;
                    transition: 0;

                    svg {
                        margin-right: 0.5rem;
                    }
                }

                &:hover .menu-link {
                    color: var(--text-color);
                    transition: 0;
                }

                &:hover::before {
                    height: 100%;
                    transition: 0.3s ease;
                }
            }
        }
    }
}
