.bottom {
    gap: 2rem;
    align-items: flex-start;
}

.page-reader {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.pages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow-y: scroll;
}

.page {
    height: 100%;
    width: auto;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
}
