:root {
    ---PrimaryColor: #933420;
    --HoverColor: #eaf2d7;
    --paleGreen: #abb4c4;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: #2b2d42;
    --bgColor: #edf2f4;
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --hoverCard: #a73a25;

    /* Font and Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
}

.genre {
    flex-basis: 100%;

    .heading {
        width: 100%;
        justify-content: space-between;

        h1 {
            font-size: var(--h2FontSize);
            color: var(--textColor);
            font-weight: 700;
        }
    }

    .secContainer {
        width: 100%;
        margin: 1rem 0;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;

        .singleItem {
            position: relative;
            width: 150px;
            height: 230px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            background-color: var(---PrimaryColor);

            &:hover {
                background: var(--hoverCard);
                box-shadow: 0 2px 2px var(--inputColor);
            }
        }

        img {
            margin-bottom: -4px;
            max-width: 100px;
        }

        .icon {
            position: absolute;
            bottom: 5px;
            right: 5px;
            color: var(--whiteColor);
        }

        h3 {
            font-size: var(--h3FontSize);
            text-align: center;
            color: var(--whiteColor);
            padding: 0.5rem;
        }
    }
}
